* {
    margin: 0;
    padding: 0;
    font-family: 'Inter Tight', sans-serif;
}

:root {
    --main-color: #006c68;
    --white: #faf6f3;
    --yellow: #e69500;
    --grey: #a7c7b3;
    --dark-blue: #004154;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    color: white;
}

.container {
    display: grid;
    grid-template: 20vh 80vh / 20vw 80vw;
    background-color: gray;
}

.container>div {
    border: 1px dotted red;
}

.header {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    background-color: var(--white);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.upperheader {
    display: grid;
    grid-template-columns: 1fr 200px;
    justify-items: start;

}


.searchbar {
    display: flex;
    padding: 1rem;
    gap: 5px;
    width: 100%;
}

.searchbar input {
    width: 80%;
}

.searchbar svg {
    width: 1rem;
}

.lowerheader {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.greeting {
    display: flex;
    justify-content: center;
}

.actionbtns {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.sidebar {
    grid-row: 1 / -1;
    grid-column: 1 / span 1;
    background-color: var(--main-color);
    display: grid;
    grid-template-rows: 10vh 1fr;
    gap: 3vh;
}


.sidebar h1 {
    font-size: min(1rem, 24px);
    color: white;
}

img.logo {
    width: min(100%, 30px);
}

.branding {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 1rem;
}

.sidebar .icon {
    fill: white;
    width: 1.5em;
}

.sidebar li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: .5rem 0rem .5rem 1rem;
}

.nav>div>ul {
    font-size: .6rem;
    font-weight: 600;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
}

.nav {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    gap: 1vh;
    color: white;
}

.nav li:hover {
    background-color: var(--dark-blue);
}

.main {
    grid-row: 2 / -1;
    grid-column: 2 / span 1;
    background-color: var(--grey);
}